{#{% extends "interview_list.html" %}#}
{#{% load staticfiles %}#}
{#{% block title %}面经详情 - IT校招求职圈{% endblock %}#}

<!-- 面包屑导航 -->

    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">面经标题
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#">名企面经</a>
                    </li>
                    <li class="active">面经详情</li>
                </ol>
            </div>
        </div>


<!-- 左边内容区域 -->

    <div class="col-lg-8">

                <p><i class="fa fa-clock-o"></i>发表于 2017年4月27日 17:41 阅读次数2</p>
                <hr>
                <img class="img-responsive" src="#" alt="">
                <hr>

                <!-- 面经正文-->
{#                {% autoescape off %}#}
                <p>
                    【概述】
                面经来说,其实拼客已经不缺技术类的面经了,所以来说我想谈谈作为一个成绩并不好的家 伙面重成绩的公司的一些经历吧。
                首先谈谈中国移动深圳公司的面试经历。因为错过了笔试初面我是拉上基友一起去霸面的, 霸面的经过还是挺心酸的。
                当时工作人员并不鸟我们,苦等两个钟,并死缠烂打,工作人员 终于肯将我们的名字写在签到表最后。我比较幸运,被编到
                研发组的面试官,基本没等多久 就可以开始面试了,朋友是支撑岗,那天他等了 8 个钟才等到面试。第一面,发现基本都不
                是技术题,反而有点措手不及。
                【初面问题】
                你实习最大收获是什么; 为什么不留绿盟; 你对黑客的职业道德怎么看?!!(一脸懵逼) 谈谈一个安全的企业网络是怎样的; 你成绩为什么这么差;
                排名多少;挂了哪科;为什么挂了这科;(我的内心是奔溃的) 你怎么理解信息安全这个岗位的;(我面的是信息安全岗) 问题其实
                不多,全程看你谈吐表现。面试官全程脸黑,但是还是得保持微笑。其实整一个面 试中,在绿盟的实习经历给我加了很多分,
                我全程挑绿盟的实习经历谈。实际上我有准备了 几个在绿盟处理问题的一些例子(没有的也可以编),围绕例子来说明自己的学习
                能力应变 能力及解决问题的能力。至于为什么不留绿盟及成绩差的坑,虽然事先没什么准备,但是填 坑的第一原则是态度诚恳并
                且表示抱歉之意,再变相拔高自己,就看你怎么吹。就成绩这个 我大概是说忙于社团及爱好特长的培养,举例子说一些艰苦的经历,
                所以疏忽了学习这块巴 拉巴拉。。。。
                </p>
{#                {% endautoescape %}#}
                <hr>

                <!-- 评论框-->
                <div class="well">
                    <h4>说点什么吧:</h4>
                    <form role="form" method="post" action="#">
                        <div class="form-group">
                            <textarea name="comment" class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>
                </div>
                <hr>

                <!-- 评论内容 -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">用户头像
                            用户姓名
                            <small>发布时间</small>
                        </h5>
                        评论内容
                    </div>
                </div>

            <hr>
            </div>


<!-- 右边内容区域 -->
    <div class="col-md-4">
        <div class="well">
            <h4>作者简介</h4>
            <p>这里是作者描述</p>
        </div>

        <div class="well">
            <h4>相关推荐</h4>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#"></a>
                            <i class="fa fa-eye"></i>阅读次数
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="well">
            <h4>更多推荐</h4>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#"></a>
                            <i class="fa fa-eye"></i>阅读次数
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



